/* style.css */
body, html {
    all: initial;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #f4f3f5; /* Reverted to original body text color */
    text-align: center;
    font-size: calc(1rem + 0.2vw);
}
footer {
    margin-top: 60px;
    border-top: solid #f4f3f57e;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #0202027c;
    bottom: 0;
    width: 100%;
}
/* CTA Button Styling */
.cta-container {
    text-align: center; /* This will center the inline elements within */
    margin: 20px 0; /* Add some vertical space around the CTA */
}
.cta-button {
    padding: 14px 20px;
    background-color: #6200d8; /* Replace with your specific green color */
    color: #f4f3f5; /* Replace with your specific text color if different */
    /* font-weight: bold; */
    border: 1px solid #f4f3f5;
    border-radius: 999px;
    width: 50%;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    align-items: center;
}
.cta-button:hover,
.cta-button:focus { /* Added :focus for keyboard accessibility */
    background-color: #FFEB3B; /* Replace with your specific yellow color */
    border-color: #020202; /* The border takes the default text color */
    color: #020202; /* Optional: Change text color on hover if needed */
}

/* Ensure the button is accessible with keyboard navigation */
.cta-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

body, html {
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #f4f3f5; /* Reverted to original body text color */
    text-align: center;
    font-size: calc(1rem + 0.2vw);
}
.tastebuddy-title {
    text-align: center;
    animation: float 3s ease-in-out infinite;
}
.copy {
    text-align: center;
    color: #f4f3f5; /* Reverted to original body text color */
    margin-left: 11%;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 78%;
}

.background-image {
    background-image: url("bgone.png"); /* Reverted to original background image */
    background-size: cover; /* Ensures the image fills the entire background */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Fixes the image position while scrolling */
    position: fixed; /* Keeps the image in place even when content is longer than the screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #020202; /* Reverted to original background color */
    z-index: -1; /* Ensures the image stays behind other content */
}

h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 2.5rem;
}
h1, h2, h3 {
    font-family: 'Questrial', sans-serif;
}
header {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #76dc7a;
    color: #020202;
}
label {
    /* display: none; */
    text-align: left;
    font-size: 1.5rem;
}
li:hover {
    cursor: pointer;
    color:#FFEB3B;
    transform: scale(1.05); /* Initial scale for animation */
    transition: transform 0.3s ease; /* Animation settings */
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    text-align: left;
    font-size: 0.9rem;
}

nav ul li a {
    color: #020202;
    text-decoration: none;
    transition: 0.3s;
}
li {
    text-align: left;
    transform: scale(1); /* Initial scale for animation */
    transition: transform 0.3s ease; /* Animation settings */
}

.hero {
    text-align: center;
    margin-bottom: 15px;
}
a {
    color: #76dc7a;
    text-decoration: none;
}
a:hover {
    color: #e9ff24;
    transition: 0.3s;
}
nav ul li a:hover {
    color: #6200d8;
    transition: 0.3s;
}

.app-icon {
    width: 90px;
    height: auto;
    margin-bottom: 20px;
    /* animation: float 3s ease-in-out infinite; */
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}
.logo {
    margin-left: 20px;
    margin-top: 20px;
}
/* .screenshots img {
    width: 90%;
    max-width: 300px;
    margin: 10px;
} */

@media (min-width: 768px) {
    .screenshots {
        display: flex;
        justify-content: center;
    }
}
.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 410px;
    width: 194px; /* Adjust as needed for iPhone screenshot ratio */
    margin: 5px;
    background-color: #76dc7a;
    border-radius: 18px;
    opacity: 0; /* Initially hidden for animation */
    transform: scale(1); /* Initial scale for animation */
    transition: opacity 0.5s ease, transform 0.3s ease; /* Animation settings */
}

.card img {
    height: 410px;
    width: 100%; /* 194:: Adjust as needed for iPhone screenshot ratio */
    /* margin: 5px; */
    background-color: #76dc7a;
    border-radius: 18px;
}

/* Use a media query for devices with a width of less than 600 pixels */
@media only screen and (max-width: 788px) {
    .background-image {
        background-image: url("bgone.png"); /* Reverted to original background image */
        background-size: cover;
        background-position: center center; /* Adjust this value if a different part of the image is more important */
        background-repeat: no-repeat;
        background-attachment: scroll; /* Use 'fixed' for a parallax effect */
    }
    .app-icon {
        width: 55px;
        height: auto;
        margin-bottom: 20px;
        /* animation: float 3s ease-in-out infinite; */
    }
    .app-script {
        padding: 0 10px;
        width: 220px;
    }
    h1 {
        font-family: 'Questrial', sans-serif;
        font-size: 1.4rem;
    }

    .cta-button{
        width: 75%;
    }
}

/* Use a media query for devices with a width of 600 pixels or more */
@media only screen and (min-width: 788px) {
    .background-image {
        background-image: url('bgdark2.png'); /* Reverted to original background image */
        background-size: cover;
        background-position: center center; /* This will ensure that the image covers the entire section */
        background-repeat:repeat-y;
        background-attachment: scroll; /* Use 'fixed' for a parallax effect */
    }
}
.floating-chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    background-color: rgba(0, 0, 0, 0.2); /* Button color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.floating-chat-button img {
    width: 80px; /* Adjust icon size as needed */
    height: 80px; /* Adjust icon size as needed */
}